body{
    background-color: skyblue;
}
.container{
    width: 300px;
    height: 430px;
    background-color: white;
    position: relative;
    left: 40%;
    margin-top: 50px;
    border-radius: 20px;
    background-image: url('images/ham.jpg');
}

.container > img{
    border-radius: 300px;
    width: 150px;
    margin-top: 110px;
    margin-left: 70px;
    
}
a{ 
    margin-left: 90px;
}
.container > img:hover{
    width: 180px;
    margin-left: 60px;
    margin-top: 100px;
}
.Follow{
    margin-top: 5px;
    background-color: yellow;
    width: 100px;
    text-align: center;
    margin-left: 80px;
    padding: 10px;
    border-radius: 10px;
}
.Follow button{ 
    border: none;
    background-color: yellow;
}
.Follow:active{
    width: 120px;
    margin-left: 70px;
}
.hamberger-container{
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    background: var(--hamberger-bg);
}
.hamberger,
.hamberger::before,
.hamberger::after {
    position: absolute;
    width: 80px;
    height: 10px;
    transition: 0.5s;
    background: white;
    
}
.hamberger::before,
.hamberger::after{
    content: "";
}
.hamberger{
    top:50%;
}
.hamberger::before{
    top: -20px;
}
.hamberger::after{
    top:20px;
}

.toggle:checked ~ .hamberger::after{
    top: 0;
    transform: rotate(135deg);
}
.toggle:checked ~ .hamberger::before{
    top: 0;
    transform: rotate(225deg);
}
.toggle:checked ~ .hamberger{
    background: var(--hamberger-bg);
}
.toggle{
    opacity: 0;
}
p{
    color: white;
}
.over{
    height: 100px;
    overflow-y: scroll;
}